body{
    background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/03/shutterstock_163379354-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}