*{
    inset: 0;
}
body{
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIALcAxAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAABAAIDB//EABkQAQEBAQEBAAAAAAAAAAAAAAARARIxAv/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwD2hJAgRoDRp0aAGkAgQCSQJJAkgCIQEggcIwgkkASQOiBBAgANI0AEgBCBJIEkgQSBEICQcA4UgSSAJIGyEBBGgBpGgAkASQJIAUECSQJJASMIEhAUkASQNoEECAAI0ACASCBJIEggSSBEIGizhBpAgkkCQQNoEEkAQ0s6ABAIIAUEBQQJJAiEDRGECQgKCBIIG0kCSAIaQDOg6ACQBJACggKCAnAgazw4M8OASEBCQJBA0WSBQQIJANZaZ0ADoBBIEggJZIE4EDWEYc8AoEEggSCBosqg0ggIQBazp0aA0LQCQAGoIDSyQbTLQHCyQJZQGhUAqhUDVLFNBqms1UGgKAOs0s6C0LQCQAFCoCWSDRZINFgg1VWUBooqoKpmoGqaxTQbqrFNBqpmqgRoooECjdAhACggJZpoNJmmg0axVQaqrNVA0boo3QNTG6gaprlTmg61VzpoN01zqoN0Vmqg1Rus0UGqqx0qDVVZqoNU1iqg3TWKqDdVYqoN0VijdBus7rO6KDVTFQLpdJAej0kB6XSQLpdJAOhUgVFSBdLpIF0akC6XSQLodJAt+h0kA6HSQM79JIH/2Q==);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.times_new{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
